<h2>編集 -edit spot-</h2>

<%= render "form", spot: @spot %>

<br>

<div>
  <%= link_to "Show this spot", @spot %> |
  <%= link_to "Home", spots_path %>
</div>

<script type="text/javascript" src="https://cdn.geolonia.com/v1/embed?geolonia-api-key=<%= ENV['MAP_API_KEY'] %>"></script>
