<div class="container">
  <%= render "shared/header" %>
  <h2>新規登録 -new spot-</h2>

  <%= render "form", spot: @spot %>

  <br>

  <div>
    <%= link_to "Back to spots", spots_path %>
  </div>

  <script type="text/javascript" src="https://cdn.geolonia.com/v1/embed?geolonia-api-key=<%= ENV['MAP_API_KEY'] %>"></script>
</div>