<%= render "shared/header" %>

<article class="wrap-policy">
  <section class="wrap-policy-list">
    <h2 class="h2-head">habit プライバシーポリシー</h2>
    <p>habit（以下「当サイト」といいます）では、当サイトにおいて提供するサービス（当サイトによる情報提供、各種ご意見の受付等）の円滑な運営に必要な範囲で、当サイトの利用者の情報を収集しています。収集した情報は、利用目的の範囲内で適切に取り扱います。</p>
    <div class="image-vegetables"><%= image_tag("vegetables.png", class:"vegetables-icon") %></div>
    <h2 class="h2-text">1. 利用目的</h2>
      <p>当サイトは、利用者の個人情報を次の目的のために利用します。</p>
      <ol>
        <li>・当サイトサービスの提供および当サイトサービスの向上</li>
        <li>・利用者からの問い合わせの対応</li>
      </ol>
    
    <h2 class="h2-text">2. 第三者提供</h2>
      <p>当サイトは、次の場合を除き、あらかじめ本人の同意を得ることなく個人情報を第三者に提供・開示しません。</p>
      <ol>
        <li>・法令に基づく場合</li>
        <li>・人の生命、身体または財産の保護の必要がある場合であって、本人の同意を得ることが困難である場合</li>
      </ol>
    
    <h2 class="h2-text">3. 安全管理</h2>
      <p>当サイトは、個人情報への不正アクセス、破壊、個人情報の紛失、漏えいおよび改ざんなどが発生しないように予防に努め、適切な安全管理措置を講じます。</p>

    <h2 class="h2-text">4. 個人情報の確認、修正削除</h2>
    <p>当サイトは、利用者より、当該利用者の個人情報の開示、訂正、削除、利用停止等を依頼された場合に、本人確認を実施した上で法令等に基づき開示等を要しないとされている場合を除き、速やかにこれに応じるものとします。</p>
    
    <h2 class="h2-text">5. お問い合わせ</h2>
    <p>プライバシーポリシー（以下「本ポリシー」といいます）の内容に関する問い合わせ、個人情報の開示等に関するご依頼、苦情のお申し出及びその他個人情報の取扱いに関する「お問い合わせ」については、「こちら」からご連絡ください。</p>

    <h2 class="h2-text">6. 本ポリシーの変更</h2>
      <p>本ポリシーは、個人情報保護法その他の法令、ガイドラインの改正も踏まえ、変更される可能性があります。</p>
      <p>本ポリシーの変更については、当ページに掲載し公表するよう努めます。</p>
  </section>
</article>

<%= link_to(root_path,class: "purchase-btn") do %>
    <span class="purchase-btn-text">HOMEへ</span>
    <%= image_tag "home.png", size: "185x50", class: "purchase-btn-icon" %>
<% end %>