.container-fluid{
  background-color: #5b9c40;
}

.tomato-icon{
  width: 10px;
}

.map-menu {
  display: flex;
  justify-content: space-between;
}

.map_filter {
  border-radius: 3px;
  
}

a{
  text-decoration: none;
  color: beige;
}